@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

#mainDialogueBox {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-family: "Press Start 2P", cursive;
    border-radius: 2px;
    padding: 8px;
    padding-left: 150px;
    padding-right: 150px;
    width: 65%;
    height: 10%;
    line-height: 16px;
    margin: auto;
    background: white;
    border: 1px solid white;
    box-shadow: 0 1px 0 1px rgb(33, 24, 27),
                inset 0 1px 0 1px rgb(33, 24, 27),
                0 0 0 1px rgb(33, 24, 27),
                inset 0 0 0 1px rgb(33, 24, 27);
    color: rgb(33, 24, 27);
    position: absolute;
    bottom: 10%;
    z-index: 2;
}

#questBox {
    display: none;
    justify-content: center;
    align-items: center;
    font-family: "Press Start 2P", cursive;
    border-radius: 2px;
    width: 22%;
    height: 13%;
    line-height: 16px;
    margin: auto;
    color: rgb(33, 24, 27);
    position: absolute;
    top: 5%;
    right: 1%;
    z-index: 2;  
    background-image: url("images/other/parchment.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#questBoxContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 12px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    margin-top: -10px;
}

#mainDialogueBox img {
    position: absolute;
    height: 250px;
    width: 250px;
    top: -125px;
    left: -80px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    z-index: 1;
}

#secondaryDialogueBox {
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-family: "Press Start 2P", cursive;
    border-radius: 2px;
    padding: 8px;
    padding-left: 150px;
    padding-right: 150px;
    width: 70%;
    height: 10%;
    line-height: 16px;
    margin: auto;
    background: white;
    border: 1px solid white;
    box-shadow: 0 1px 0 1px rgb(33, 24, 27),
                inset 0 1px 0 1px rgb(33, 24, 27),
                0 0 0 1px rgb(33, 24, 27),
                inset 0 0 0 1px rgb(33, 24, 27);
    color: rgb(33, 24, 27);
    position: absolute;
    bottom: 10%;
    z-index: 2;
}

#secondaryDialogueBox img {
    position: absolute;
    height: 250px;
    width: 250px;
    top: -125px;
    right: -80px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    z-index: 1;
    transform: scaleX(-1);
}

#bot4DialogueBox {
    display: none;
    position: absolute;
    bottom: 1%;
    left: 50%;
    width: 90%;
    height: 15%;
    transform:
    translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    border: 4px solid rgb(158, 21, 255);
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

#bot2DialogueBox {
    display: none;
    position: absolute;
    bottom: 1%;
    left: 50%;
    width: 90%;
    height: 15%;
    transform:
    translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    border: 4px solid rgb(0, 65, 218);
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

#bot3DialogueBox {
    display: none;
    position: absolute;
    bottom: 1%;
    left: 50%;
    width: 90%;
    height: 15%;
    transform:
    translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    border: 4px solid rgb(251, 255, 25);
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

#fightDialogueBox1 {
    display: none;
    position: absolute;
    top: 15%;
    left: 9%;
    width: 18%;
    height: 5%;
    padding: 20px;
    border-radius: 10px;
    border: 4px solid rgb(0, 65, 218);
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-color: white;
}

#fightDialogueBox2 {
    display: none;
    position: absolute;
    top: 15%;
    right: 9%;
    width: 18%;
    height: 5%;
    padding: 20px;
    border-radius: 10px;
    border: 4px solid rgb(251, 255, 25);
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-color: white;
}

#fightDialogueBoxMain {
    display: none;
    position: absolute;
    top: 15%;
    left: 50%;
    width: 18%;
    height: 5%;
    padding: 20px;
    border-radius: 10px;
    border: 4px solid rgb(151, 87, 13);
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(33,24,27);
    min-height: 100vh;
    overflow: hidden;
}

#fullScreenButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgb(33, 24, 27);
    width: 100%;
    height: 110%;
    margin-top: -100px;
    z-index: 10;
    transition: opacity 10s ease;
}

@keyframes zoomAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

#fullScreenButton.hidden {
    opacity: 0;
    pointer-events: none;
}

#fullScreenImage {
    animation: zoomAnimation 2s infinite;
    transition: 1s;
}

#fullScreenImage:hover {
    transform: scale(1.1);
    transition: 1s;
    cursor: pointer;
}

#fullScreenImage.hidden {
    display: none;
}